assertpy==1.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
data-quality-kit==0.8.0
essentialkit==0.2.0
idna==3.10
iniconfig==2.0.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyhocon==0.3.61
pyparsing==3.2.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.4
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
